body {
    background: rgb(12, 9, 9);
}
a {
    text-decoration : none;
}
.wrappers {
    padding-left : 20px;
    padding-right : 20px;
    margin-right : auto ; 
    margin-left : auto ; 
}
.main-navigation li {
    display : inline-block;
   
}
.brand {
    color : #fff;

}
.header {
    height :auto;
    padding-top : .5rem;
    padding-bottom: 1rem;
}
.relative {
    position: relative;
}
.search-and-toggle {
    padding-top : 10px;
}
.search {
    margin-right: 20px;
    color : #fff;
    padding-top : 10px;
}
.search-and-toggle  button {
   border : none ;
   outline : none ; 
   background : none;
   /* padding-top: 5px; */
}
.search-and-toggle  span {
    display: block;
    height: 3px;
    width: 25px;
    background : #fff;
    margin-top: 4px;
    margin-bottom: 4px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    left: 0;
    opacity: 1;
} 

  
.search-and-toggle  span:nth-child(1),
.search-and-toggle span:nth-child(3) {
    transition: -webkit-transform .35s ease-in-out;
    transition: transform .35s ease-in-out;
    transition: transform .35s ease-in-out, -webkit-transform .35s ease-in-out;
} 
.search-and-toggle :not(.change-toggle) span:nth-child(1) {
    position: absolute;
    left: 25px;
    top: 5px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    opacity: 0.9;
}
.search-and-toggle :not(.change-toggle) span:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: transparent;
}  
.search-and-toggle :not(.change-toggle) span:nth-child(3) {
    position: absolute;
    left: 25px;
    top: 5px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    opacity: 0.9;
}

.main-navigation >  a:not(.active)  , .user-access a {
    text-decoration : none ; 
    color : #fff;
    font-weight: 550;
    opacity : .95;
    font-size : 1rem;
    font-family : "Segoe UI" , Helvetica , "Helvetica neue" , sans-serif;
    transition : color 2s;
    margin-right:2rem;
}
.main-navigation > li a:hover {
    color : rgb(41, 172, 143);
}
.active {
    color : rgb(41, 172, 143);
    text-decoration : none;
    font-weight: 550;
    opacity : .75;
    font-size : 1rem;
    font-family : "Segoe UI" , Helvetica , "Helvetica neue" , sans-serif;
}
.account {
    background : rgb(41, 172, 143);
    color : #fff;
    border : none;
    outline : 0;
    text-decoration: none;
    padding : 15px 30px;
    border-radius : 3rem;
} 
.circle-content {
    font-size : .85rem;
    padding: 15px;
    text-align: center;
    line-height: 1;
    border-radius: 50%; 
}
.square-content {
    font-size : .85rem;
    padding: 15px;
    text-align: center;
    line-height: 1;
    /* border-radius: 50%;  */
}
/* .logo-icon {

} */
.bg-red {
    background : rgb(209, 3, 82);
}
.red-text {
    color : rgb(209, 3, 82 )
}
.white-text {
    color : #fff;
} 
.access {
    border: 1px solid #fff;
    background : inherit;
    /* border-radius: 5px; */
    padding : 15px 30px;
    text-transform: uppercase;
}
.hero-section{
    background : linear-gradient(45deg , rgba(0,0,0,0.95), rgba(0,0,0,0.35)), url(../assets/images/finegirl.jpg) ;
    background-size: cover;
    background-position: center;
    position : relative ; 
    height : auto;
    padding-top : 7rem;
    margin-bottom: 1.5rem;
} 
.d-vary {
    display : block;
}
.skills {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 850;
    margin : 0 .5rem;
    line-height: 1.8;
    letter-spacing: 2px;
}
.hero-header {
    font-size : 2.5rem;
    font-weight: 950;
    max-width: 700px;
}
.hero-description {
  
    line-height: 1.6;
    font-size: 1.3rem;
    font-weight: 450;
    max-width: 600px;
}
.pad-cta {
    padding : 15px 50px
}
.pad-plans {
    padding-top : 2rem;
    padding-bottom:2rem;
}
.pad-tb-10 {
    padding-top : 3rem;
    padding-bottom:3rem;
}
.see-plans {
    background : linear-gradient(45deg, rgb(209, 3, 82 ) , #fa0 );
    padding-top : 2rem;
    padding-bottom:2rem;
   
    text-transform: uppercase;
}
.see-plans h3 {
    font-size: 1.3rem;
}
.see-plans a {
   color : #fff;
}
.plural-header {
    text-transform: uppercase;
    font-weight: 950;
    font-size: 2.5rem;
    line-height: 1.2;
    margin : 0 0 30px;
}
.plural-description {
    font-size: 1.2rem;
    line-height: 30px;
}


.plan-header {
    font-weight: 400;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}
.big-number {
    font-size: 4rem;
    font-weight: 650;
}
.save-cost {
    padding : .25rem;
    background : #fa0 ; 
    color : #000;
    border-radius: 3px;
    font-size: 1.5rem;
}
.annual {
    font-size: 1.5rem;
}
.relative {
    position : relative
}
.ribbon {
    background : #fa0;
    color : #000;
    position: absolute;
    top :0 ;
    left : 0;
    z-index: 3;
    width : 100%;
    padding : .5rem
}
/* .absolute {
    background : #fa0;
    color : #000;
    position: absolute;
    top : 0;
    left : 0;
    z-index: 3;
} */
.border-bottom-faint {
    border-bottom : 1px solid #ccc;
}
.footer-navs h5  , .footer-navs p{
    color : #fff;
    font-size: 1.1rem;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 30px;
    /* border-top: 1px solid #353535; */
    margin-bottom: 0;
    margin-top: 0;
    cursor: pointer;
    border-left: none;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}
.social a {
    margin-right: 1rem;
    color : #fff;
    font-size: .9rem;
}
/* .pricing-display {
    text-align: center;
    padding: 55px 20px;
    background: linear-gradient(180deg,#181818 0%,#222222 100%);
    min-height: 331px;
} */
table {
    width : 100%;
    /* color : #ddd; */
    display : table ; 
    margin : 0;
    margin-bottom: 1.45rem;
    table-layout: auto;
    box-sizing: inherit;
    border-collapse: separate;
    background: #18181A;
    border-spacing: 2px;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.table--grid table tr.tr--feature .table--feature {
    color: #0084BD;
}
.table--grid table tr td.td--width {
    min-width: 320px;
}
.table--grid table tr td.table--feature {
    font-size: 12px;
    letter-spacing: 3px;
    color: #F7A614;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 50px;
}
.table--grid table tr td:first-child {
    text-align: left;
    padding-left: 30px;
}
.table--grid table tr.tr--feature td {
    border-right: 0 !important;
    vertical-align: top;
}
.table--grid table tr td {
    color: white;
    font-size: 1.1rem;
    padding: 5px 10px;
    line-height: 40px;
    text-align: center;
    white-space: nowrap;
}
table thead tr th, table tfoot tr th, table tfoot tr td, table tbody tr th, table tbody tr td, table tr td {
    display: table-cell;
    line-height: 18px;
}
table tr th, table tr td {
    color: #222;
    font-size: 14px;
    padding: 9px 10px;
    text-align: left;
}
tbody tr:nth-child(even){
   background : #000
}
.footer-navs a {
    display : block;
    text-decoration: none;
    color: #7c7c7d;
    line-height: 16px;
    margin-bottom: 1.5rem;
    font-weight: 500;
    padding-left: 30px;
}
.bg-dark-faint {
  background: #2e313a;
}
.footer-alt {
  padding-top : .65rem;
  padding-bottom: .65rem;
}
.bg-footer {
    background : #222;
}
/* .footer {
    padding : 1.5rem 0;
    border-top : 2px solid #222;
}
.footer-heading {
    border-top: solid 1px #353535;
} */
.cookie-notification {
    color: #aaa;
    background: linear-gradient(rgba(19,19,19,.9),rgba(19,19,19,.9));
    padding: 15px;
    width: 100%;
}
.cookie-text {
    font-size: .75rem;
}
.cookie-notification a {
    color : #aaa
} 
.accept-cookie {
    border : 2px solid rgb(209, 3, 82); 
    padding : 10px 30px;
    color : rgb(209, 3, 82); 
    font-size: .85rem;
    font-weight: 400;
    line-height: 1.7;
    text-transform: uppercase;
}
.d-sm-hide {
    display : none;
} 
@media(max-width : 568px){
    .order-2 {
      order : 2
    }
}
@media (min-width : 768px){
    .wrappers {
      padding-left : 50px;
      padding-right : 50px;
    } 
    .header {
        height : 5rem;
        padding-top : 1.5rem;
        padding-bottom: 3rem;
    }
    .hero-section {
        height : 50rem;
        padding-top : 10rem;
    }
    .d-sm-hide {
        display: block;
    }
    .d-vary {
        display: inline;
    }
    .hero-header {
        font-size : 4.5rem;
    }
    .m {
        margin-right: 1rem;
    }
    .w-20 {
        flex : 0 0 20%;
        width : 20%;
        max-width: 20%;
    }
    .jara{
        padding-top : 3rem;
        padding-bottom : 3rem;
        padding:40px;
        font: Helvetica, sans-serif;
       
    }
    .plural-header {
        font-size: 3.5rem;
    }
}